@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
    --font-montserrat: "Montserrat", sans-serif;
}

*{
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
    max-width:100%;
    overflow-x: hidden;
}
